@{
    ViewBag.Title = "Index";
}

@model UnobtrusiveTest.Models.Employee.Employee


<div id="RegSuccessDivOne">
    <h2>Name Info</h2>


    <form asp-action="_PartialName" asp-controller="Employee" method="POST" data-ajax="true" data-ajax-update="#RegSuccessDivOne" data-ajax-mode="replace">


        @Html.LabelFor(e => e.FirstName)<br />
        @Html.TextBoxFor(e => e.FirstName)
        @Html.ValidationMessageFor(e => e.FirstName)
        <br />
        @Html.LabelFor(e => e.LastName)<br />
        @Html.TextBoxFor(e => e.LastName)
        @Html.ValidationMessageFor(e => e.LastName)
        <br />
        @*@Html.LabelFor(e => e.IsEmployed)<br />
        @Html.CheckBoxFor(e => e.IsEmployed) True &nbsp; @Html.CheckBoxFor(e => !e.IsEmployed) False<br />
        <br />*@

        <button type="submit">Address Info NEXT</button>

        @*<button type="submit" name="prev">Start PREV</button>
        |
        <button type="submit" name="next">Address Info NEXT</button>*@



    </form>



</div>